 @media (min-width: 768px) and (max-width: 991px){

 // .........##...##..######..##..##..##..##.
 // .........###.###..##......###.##..##..##.
 // .........##.#.##..####....##.###..##..##.
 // .........##...##..##......##..##..##..##.
 // .........##...##..######..##..##...####..




   .navbar__cart__process{

		.button(@purple_soft,m);
		text-decoration: none;
		margin-left: 15px;

   }

   .navbar__cart__status {

	  line-height: 35px;

   }



nav.navbar__menu{

  float: none;
  clear: both;

  background-color: @purple_dark+10%;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
 
  margin-bottom: 15px;


  ul {padding-left: 0;}
	
  li {display: block; font-size: @basic+2px;}

  a{display: block;}

}

.navbar div {position: static;}

.navbar.row {position: relative;}

.navbar__sandwich__icon {
	position: absolute;
	right:00px;
	top: -10px;
	
}


.navbar .navbar__cart {

	position: absolute;
	right:00px;
	top: 0px;
	right: @menu_h;

}



// ..####....####...##......##......######...####...######..######...####...##..##.
// .##..##..##..##..##......##......##......##..##....##......##....##..##..###.##.
// .##......##..##..##......##......####....##........##......##....##..##..##.###.
// .##..##..##..##..##......##......##......##..##....##......##....##..##..##..##.
// ..####....####...######..######..######...####.....##....######...####...##..##.
 



.collection__promo__gallery__item {

    float: left;
    width: 33%;
  	padding: 5px;

  	&:nth-child(3),&:nth-child(4){
  		display: none;
  	}

}

.collection__promo__gallery__item--primary { 

	float: left;
	width: 66.66%; 


}




//////////////////////////////////////////
//////////////////////////////////////////

}